In [2]:
import numpy as np
import pandas as pd
data= pd.read_csv(r"C:\Users\admin\Desktop\COMPUTER&SOCIETY\precipitazioni.csv", sep=';')
print(data)

       Tipo-Zone  Id Sensore          Data-Ora  Valore Cumulato
0          Brera       19373  01/01/2018 00:00              0.2
1         Juvara        5908  01/01/2018 00:00              0.0
2       Lambrate        2006  01/01/2018 00:00              0.0
3      Zavattari        9341  01/01/2018 00:00              0.4
4      Rosellini       14121  01/01/2018 00:00              0.0
...          ...         ...               ...              ...
43680      Brera       19373  31/12/2018 00:00              0.0
43681     Juvara        5908  31/12/2018 00:00              0.0
43682   Lambrate        2006  31/12/2018 00:00              0.0
43683  Zavattari        9341  31/12/2018 00:00              0.0
43684  Rosellini       14121  31/12/2018 00:00              0.0

[43685 rows x 4 columns]

In [3]:
#rinominare colonne
data.rename(columns={"Tipo-Zone":"zone","Id Sensore":"id","Data-Ora":"data", "Valore Cumulato":"valore"}, inplace=True)
print(data)

            zone     id              data  valore
0          Brera  19373  01/01/2018 00:00     0.2
1         Juvara   5908  01/01/2018 00:00     0.0
2       Lambrate   2006  01/01/2018 00:00     0.0
3      Zavattari   9341  01/01/2018 00:00     0.4
4      Rosellini  14121  01/01/2018 00:00     0.0
...          ...    ...               ...     ...
43680      Brera  19373  31/12/2018 00:00     0.0
43681     Juvara   5908  31/12/2018 00:00     0.0
43682   Lambrate   2006  31/12/2018 00:00     0.0
43683  Zavattari   9341  31/12/2018 00:00     0.0
43684  Rosellini  14121  31/12/2018 00:00     0.0

[43685 rows x 4 columns]

In [4]:
#mask booleana
import numpy as np
import pandas as pd
piovoso= (data.valore>0)
print(piovoso)

0         True
1        False
2        False
3         True
4        False
         ...
43680    False
43681    False
43682    False
43683    False
43684    False
Name: valore, Length: 43685, dtype: bool

In [5]:
#statistiche su tutto il data
print("Average precip on all days in 2018:   ",
      np.mean(data.valore))
print("Median precip on all days in 2018:   ",
      np.median(data.valore))
print("Max precip on all days in 2018:   ",
      np.max(data.valore))
print("Min precip on all days in 2018:   ",
      np.min(data.valore))

Average precip on all days in 2018:    0.10222748155366658
Median precip on all days in 2018:    nan
Max precip on all days in 2018:    28.8
Min precip on all days in 2018:    0.0

In [7]:
#statistiche solo su giorni piovosi
print("Average precip on rainy days in 2018:   ",
      np.mean(data.valore[piovoso]))
print("Median precip on rainy days in 2018:   ",
      np.median(data.valore[piovoso]))
print("Max precip on rainy days in 2018:   ",
      np.max(data.valore[piovoso]))
print("Min precip on rainy days in 2018:   ",
      np.min(data.valore[piovoso]))

Average precip on rainy days in 2018:    1.2523592950539857
Median precip on rainy days in 2018:    0.6
Max precip on rainy days in 2018:    28.8
Min precip on rainy days in 2018:    0.2

In [9]:
#guardo se ci sono valori na
data.valore.isnull().values.any()

True

In [10]:
#Cerco tutte le righe del dataframe precip che contengono un nan
#Domanda: dove dico che cerco rispetto alle righe e non alle colonne?
df1 = data[data.isna().any(axis=1)]
print (df1)

            zone    id              data  valore
43     Zavattari  9341  01/01/2018 08:00     NaN
153    Zavattari  9341  02/01/2018 06:00     NaN
248    Zavattari  9341  03/01/2018 01:00     NaN
368    Zavattari  9341  04/01/2018 01:00     NaN
488    Zavattari  9341  05/01/2018 01:00     NaN
...          ...   ...               ...     ...
42966     Juvara  5908  25/12/2018 01:00     NaN
42971     Juvara  5908  25/12/2018 02:00     NaN
42976     Juvara  5908  25/12/2018 03:00     NaN
42981     Juvara  5908  25/12/2018 04:00     NaN
42986     Juvara  5908  25/12/2018 05:00     NaN

[587 rows x 4 columns]

In [11]:
data.isna().all(axis=1)[43]

False

In [16]:
#Rimuovo da df1 le righe che hanno nan nella colonna valore. Quindi ora ho due dataframe:
#data che contiene anche i nan
#df1 che non contiene i nan
df1 = data.dropna(subset=['valore'])
print(df1)

            zone     id              data  valore
0          Brera  19373  01/01/2018 00:00     0.2
1         Juvara   5908  01/01/2018 00:00     0.0
2       Lambrate   2006  01/01/2018 00:00     0.0
3      Zavattari   9341  01/01/2018 00:00     0.4
4      Rosellini  14121  01/01/2018 00:00     0.0
...          ...    ...               ...     ...
43680      Brera  19373  31/12/2018 00:00     0.0
43681     Juvara   5908  31/12/2018 00:00     0.0
43682   Lambrate   2006  31/12/2018 00:00     0.0
43683  Zavattari   9341  31/12/2018 00:00     0.0
43684  Rosellini  14121  31/12/2018 00:00     0.0

[43098 rows x 4 columns]

In [17]:
print("Median precip on all days in 2018:   ",
      np.median(df1.valore))

Median precip on all days in 2018:    0.0

In [21]:
#Ora voglio contare i valori. 
#Uso groupby, specificando qual è la colonna i cui valori voglio vengano raggruppati.
df1.groupby(valore).count()

NameError: name 'valore' is not defined

In [22]:
data.groupby(valori).count()

NameError: name 'valori' is not defined

In [23]:
data.valore.isnull().sum()

587